<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Learning Flask Again</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico"> 
  </head>

  <body>
    <h1>All Appointments</h1>
    <table>
      <tr>
          <td>Patient Name</td>
          <td>Visit Date</td>
          <td>Visit Time</td>
          <td>PT</td>
          <td>PMR</td>
          <td>PMR EMG</td>
          <td>CHIRO</td>
          <td>ACU</td>
          <td>Cancel</td>
          <td>No Show</td>
          <td>Memo</td>
          <td>Visited</td>
          <td>Last PT</td>
          <td>Last MD</td>
          <td>Last Chiro</td>
          <td>Last Acu</td>
      </tr>
      {% for item in data %}
      <tr>
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
          <td>{{item[2]}}</td>
          <td>{{item[3]}}</td>
          <td>{{item[4]}}</td>
          <td>{{item[5]}}</td>
          <td>{{item[6]}}</td>
          <td>{{item[7]}}</td>
          <td>{{item[8]}}</td>
          <td>{{item[9]}}</td>
          <td>{{item[10]}}</td>
          <td>{{item[11]}}</td>
          <td>{{item[12]}}</td>
          <td>{{item[13]}}</td>
          <td>{{item[14]}}</td>
          <td>{{item[15]}}</td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <a href="/">
        <button type="submit">Return</button>
    </a>

  </body>
  
</html>