<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Attendance</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico"> 
  </head>

<body>
    <h1>Attendance</h1>
    <h3>Search by Patient</h3>
    <form autocomplete="off" action="{{ url_for('search_patient_attendance') }}" method="post">
      <label for="patient_name">Patient Name:</label>
      <input type="text" id="patient_name" name="patient_name" list="patient_name_choice" required>
      <datalist id="patient_name_choice">
      {% for item in data %}
        <option value="{{item[5]}}"></option>
      {% endfor %}
      </datalist>
      <label for="start_date">From:</label>
      <input type="date" id="start_date" name="start_date" value="2024-03-01" required>
      <label for="end_date">To:</label>
      <input type="date" id="end_date" name="end_date" required>
      <button type="submit">Submit Form</button>
    </form>
    <br>
    <h3>Search by Date</h3>
    <form autocomplete="off" action="{{ url_for('search_date_attendance') }}" method="post">
      <label for="start_date">From:</label>
      <input type="date" id="start_date" name="start_date" value="2024-03-01" required>
      <label for="end_date">To:</label>
      <input type="date" id="end_date" name="end_date" required>
      <button type="submit">Submit Form</button>
    </form>
    <br>
    <a href="/">
      <button type="submit">Return</button>
    </a>
  </body>
</html>